body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

div {
  width: 460px;
}

.imagesHeader {
  margin-bottom: 50px;
}
.images {
  height: 200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}
.images2,
.images3,
.images4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
}

img {
  height: 100%;
}

h1,
h2 {
  text-align: center;
  margin-top: 20px;
}

#menu {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

#order-form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  font-size: 20px;
}

select {
  padding: 10px;
  font-size: 20px;
}

label {
  font-size: 25px;
  color: #007bff;
  font-weight: 700;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px auto;
  width: 100%;
  height: 100px;
  font-size: 25px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#order-response {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}

.header,
.footer {
  width: 100%;
  height: 100px;
  background-color: #0056b3;
}
